body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

nav {
  // navbar navbar-expand navbar-dark bg-dark

  :first-child {
    // navbar-brand
  }

  ul {
    // navbar-nav mr-auto

    li {
      // nav-item

      a {
        // nav-link
      }

      button {
        // btn btn-success
      }
    }
  }
}

main {
  // container mt-3
}

.gallery {
  display: flex;
  flex-wrap: wrap;

  &-nav {
    background-color: bisque;
    padding: 2em 10%;
    display: flex;
    flex: 0 100%;

    .page::before {
      content: "page ";
    }

    .total::before {
      content: " of ";
    }

    .total::after {
      content: " total results";
    }

    > span {
      margin: auto;
    }

    > a {
      padding: 1em;
      margin: 4px;
      border-radius: 1em;
      background-color: pink;
      color: red;
      text-decoration: none;
    }

    .firstPage { order: -2; }
    .prevPage { order: -1; }
    .nextPage { order: 1; }
    .lastPage { order: 2; }
  }

  gap: 8px;

  > .card {
    padding: 6px;
    border-radius: 10px 0 0 0;
    background-color: bisque;
    flex: 1 0 20%
  }
}

article.card {
  // card card-body

  > h1 {
    // card-title
  }

  > h2 {
    // (sub-title)
  }

  > section {
    // card-text

    h2,
    h3,
    h4,
    h5 {
    }
  }

  > aside {
    // row

    button {
      // btn btn-primary col-lg-5 mx-1 mb-1
    }
  }
}

.search {
  // row pb-1

  > * {
    // input-group col-lg-4
  }

  input {
    // form-control
  }

  option {
    max-width: 20em;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

form.login {
  text-align: right;
}

form.login,
form.review {
  // submit-form

  > div {
    // form-group
  }

  input {
    // form-control
  }

  button {
    // btn btn-success
  }
}

.bubble-root {
  position: relative;
  // need to maintain size of the affordance while the bubble is up and overlaying
  // (or, tastefully transition)

  > .bubble-content {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    opacity: 75%;
    border-radius: 2em;
    margin: 2em;
    padding: 1em;
    box-shadow: 0 0 3em brown;
    background-color: brown;
    visibility: hidden;
  }
}

.user-info {
  padding-top: 4em;
  font-style: italic;
  font-size: larger;
  opacity: 80%;
}

.pulse {

}
